<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="/h5p-library/js/jquery.js"></script>
  <script src="/h5p-library/js/h5p.js"></script>
  <script src="/h5p-library/js/h5p-event-dispatcher.js"></script>
  <script src="/h5p-library/js/h5p-x-api-event.js"></script>
  <script src="/h5p-library/js/h5p-x-api.js"></script>
  <script src="/h5p-library/js/h5p-content-type.js"></script>
  <script src="/h5p-library/js/h5p-confirmation-dialog.js"></script>
  <script src="/h5p-library/js/h5p-action-bar.js"></script>
  <link rel="stylesheet" href="/h5p-library/styles/h5p.css">
  <link rel="stylesheet" href="/h5p-library/styles/h5p-confirmation-dialog.css">
  <link rel="stylesheet" href="/h5p-library/styles/h5p-core-button.css">
  <style>
    body { margin: 0; }
  </style>
</head>
<body>
  <div class="h5p-iframe-wrapper">
    <iframe id="h5p-iframe-<%= contentId %>" class="h5p-iframe" data-content-id="<%= contentId %>" style="height:1px" src="about:blank" frameborder="0" scrolling="no"></iframe>
  </div>
  <script>
    window.H5PIntegration = <%- htmlescape(integration) %>;
  </script>
</body>
</html>
